@layer reset, base, components, overrides;

:root {
    --blue-1: #f1f6fa;
    --blue-2: #cee1f2;
    --blue-3: #accded;
    --blue-4: #86b8e9;
    --blue-5: #61a2e3;
    --blue-6: #468dd6;
    --blue-7: #3a77ba;
    --blue-8: #2f629e;
    --blue-9: #244f84;
    --blue-10: #183863;
    --blue-11: #10294e;
    --blue-12: #081a37;
    --blue-13: #030a1d;

    --dgray-1: #363a48;
    --dgray-2: #323644;
    --dgray-3: #2d313e;
    --dgray-4: #2a2d39;
    --dgray-5: #252833;
    --dgray-6: #22252f;
    --dgray-7: #1e212b;
    --dgray-8: #1b1e26;
    --dgray-9: #171921;
    --dgray-10: #14161d;
    --dgray-11: #111219;
    --dgray-12: #0d0e13;
    --dgray-13: #0a0b0f;

    --lgray-1: #ffffff;
    --lgray-2: #f5f5f6;
    --lgray-3: #eaebed;
    --lgray-4: #e0e1e4;
    --lgray-5: #d4d6da;
    --lgray-6: #caccd1;
    --lgray-7: #c0c2c9;
    --lgray-8: #b6b9c1;
    --lgray-9: #acafb9;
    --lgray-10: #a2a6b1;
    --lgray-11: #979ba8;
    --lgray-12: #8e929f;
    --lgray-13: #848998;

    /* --orange-5: #ff6c00; if you want to try saturating more, this is about the best ref color I can get */
    --orange-1: #fcf3ed;
    --orange-2: #fbd6bb;
    --orange-3: #fcb889;
    --orange-4: #ff9348;
    --orange-5: #ff7b00;
    --orange-6: #d76203;
    --orange-7: #bb4f03;
    --orange-8: #a03d01;
    --orange-9: #872c00;
    --orange-10: #6b1c00;
    --orange-11: #500e00;
    --orange-12: #380501;
    --orange-13: #1d0101;

    /* dark theme */
    --background: var(--dgray-5);
    --background-header: var(--dgray-4);
    --foreground: var(--lgray-3);
    --foreground-header: #fff;
    --logo-color: #fff;
    --logo-accent: var(--orange-5);

    /* light theme */
    @media (prefers-color-scheme: light) {
        --background: #fff;
        --foreground: var(--dgray-7);
    }
}

@layer reset {
    /* Box sizing rules */
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    /* Prevent font size inflation */
    html {
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }

    /* Remove default margin in favour of better control in authored CSS */
    body,
    h1,
    h2,
    h3,
    h4,
    p,
    figure,
    blockquote,
    dl,
    dd {
        /* margin-block-end: 0; */
        margin: 0; /* dp change to remove all margin and padding */
        padding: 0; /* dp change to remove all margin and padding */
    }

    /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
    ul[role="list"],
    ol[role="list"] {
        list-style: none;
    }

    /* Set core body defaults */
    body {
        min-height: 100vh;
        line-height: 1.5;
    }

    /* Set shorter line heights on headings and interactive elements */
    h1,
    h2,
    h3,
    h4,
    button,
    input,
    label {
        line-height: 1.1;
    }

    /* Balance text wrapping on headings */
    h1,
    h2,
    h3,
    h4 {
        text-wrap: balance;
    }

    /* A elements that don't have a class get default styles */
    a:not([class]) {
        text-decoration-skip-ink: auto;
        color: currentColor;
    }

    /* Make images easier to work with */
    img,
    picture {
        max-width: 100%;
        display: block;
    }

    /* Inherit fonts for inputs and buttons */
    input,
    button,
    textarea,
    select {
        font-family: inherit;
        font-size: inherit;
    }

    /* Make sure textareas without a rows attribute are not tiny */
    textarea:not([rows]) {
        min-height: 10em;
    }

    /* Anything that has been anchored to should have extra scroll margin */
    :target {
        scroll-margin-block: 5ex;
    }
}

@layer base {
    /* albert var latin */
    @font-face {
        font-family: Albert;
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url("/fonts/albertvar.woff2") format("woff2");
    }

    html {
        font-family:
            Albert,
            ui-sans-serif,
            system-ui,
            -apple-system,
            BlinkMacSystemFont,
            Segoe UI,
            Roboto,
            Helvetica Neue,
            Arial,
            sans-serif,
            Apple Color Emoji,
            Segoe UI Emoji,
            Segoe UI Symbol;
    }

    body {
        background: var(--background);
        color: var(--foreground);
    }
}

@layer components {
    /* remove all scroll only in slides view */
    .container {
        height: 100vh;
        overflow-y: hidden;
    }
}

@layer overrides {
}
