@layer reset, base, components, overrides;

:root {
    --accent-green: #00f115;
    --accent-magenta: #f100dc;
    /* same as orange-5 */
    --accent-orange: #ff7b00;

    --blue-1: #f1f6fa;
    --blue-2: #cee1f2;
    --blue-3: #accded;
    --blue-4: #86b8e9;
    --blue-5: #61a2e3;
    --blue-6: #468dd6;
    --blue-7: #3a77ba;
    --blue-8: #2f629e;
    --blue-9: #244f84;
    --blue-10: #183863;
    --blue-11: #10294e;
    --blue-12: #081a37;
    --blue-13: #030a1d;

    --dgray-1: #363a48;
    --dgray-2: #323644;
    --dgray-3: #2d313e;
    --dgray-4: #2a2d39;
    --dgray-5: #252833;
    --dgray-6: #22252f;
    --dgray-7: #1e212b;
    --dgray-8: #1b1e26;
    --dgray-9: #171921;
    --dgray-10: #14161d;
    --dgray-11: #111219;
    --dgray-12: #0d0e13;
    --dgray-13: #0a0b0f;

    --lgray-1: #ffffff;
    --lgray-2: #f5f5f6;
    --lgray-3: #eaebed;
    --lgray-4: #e0e1e4;
    --lgray-5: #d4d6da;
    --lgray-6: #caccd1;
    --lgray-7: #c0c2c9;
    --lgray-8: #b6b9c1;
    --lgray-9: #acafb9;
    --lgray-10: #a2a6b1;
    --lgray-11: #979ba8;
    --lgray-12: #8e929f;
    --lgray-13: #848998;

    --mgray-1: #7b8090;
    --mgray-2: #757a8b;
    --mgray-3: #707587;
    --mgray-4: #6a6f82;
    --mgray-5: #666b7e;
    --mgray-6: #606579;
    --mgray-7: #5b6175;
    --mgray-8: #555b70;
    --mgray-9: #52576b;
    --mgray-10: #4c5265;
    --mgray-11: #484e60;
    --mgray-12: #43485a;
    --mgray-13: #404455;

    /* --orange-5: #ff6c00; is more saturated, but in practice it doesn't help */
    --orange-1: #fcf3ed;
    --orange-2: #fbd6bb;
    --orange-3: #fcb889;
    --orange-4: #ff9348;
    --orange-5: #ff7b00;
    --orange-6: #d76203;
    --orange-7: #bb4f03;
    --orange-8: #a03d01;
    --orange-9: #872c00;
    --orange-10: #6b1c00;
    --orange-11: #500e00;
    --orange-12: #380501;
    --orange-13: #1d0101;

    /* dark theme */
    --background: var(--dgray-5);
    --background-header: var(--dgray-4);
    --foreground: var(--lgray-3);
    --foreground-header: #fff;
    --logo-color: #fff;
    --logo-accent: var(--orange-5);
    --plot-axis: var(--lgray-7);
    --plot-labels: var(--foreground);

    /* light theme */
    @media (prefers-color-scheme: light) {
        --background: #fff;
        --foreground: var(--dgray-7);
    }

    /* spacing */
    --container-xs: 20rem;
    --container-sm: 24rem;
    --container-md: 28rem;
    --container-lg: 32rem;
    --container-xl: 36rem;

    font-size: 1em;
    --fs-base: 1rem;
    --fs-sm: calc(var(--fs-base) * 0.875);
    --fs-lg: calc(var(--fs-base) * 1.125);
    --fs-xl: calc(var(--fs-base) * 1.25);
    --fs-2xl: calc(var(--fs-base) * 1.5);
    --fs-3xl: calc(var(--fs-base) * 1.875);

    --fw-light: 300;
    --fw-midlight: 350;
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-semibold: 600;

    /* bring line-height down for larger font sizes */
    --lh-base: 1.5;
    --lh-fs-sm: calc(1.25 / var(--fs-sm));
    --lh-fs-lg: calc(1.75 / var(--fs-lg));
    --lh-fs-xl: calc(1.75 / var(--fs-xl));
    --lh-fs-2xl: calc(2 / var(--fs-2xl));
    --lh-fs-3xl: calc(2.25 / var(--fs-3xl));

    --radius: 0.125rem;
    --radius-xs: calc(var(--radius) * 1);
    --radius-sm: calc(var(--radius) * 2);
    --radius-md: calc(var(--radius) * 3);
    --radius-lg: calc(var(--radius) * 4);
    --radius-xl: calc(var(--radius) * 6);

    --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

    --space: 0.25rem;
    --space-half: calc(var(--space) * 0.5);
    --space-1: calc(var(--space) * 1);
    --space-2: calc(var(--space) * 2);
    --space-3: calc(var(--space) * 3);
    --space-4: calc(var(--space) * 4);
    --space-5: calc(var(--space) * 5);
    --space-6: calc(var(--space) * 6);
    --space-7: calc(var(--space) * 7);
    --space-8: calc(var(--space) * 8);
}

@layer reset {
    /* Box sizing rules */
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    /* Prevent font size inflation */
    html {
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }

    /* Remove default margin in favour of better control in authored CSS */
    body,
    h1,
    h2,
    h3,
    h4,
    p,
    figure,
    blockquote,
    dl,
    dd {
        /* margin-block-end: 0; */
        margin: 0; /* dp change to remove all margin and padding */
        padding: 0; /* dp change to remove all margin and padding */
    }

    /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
    ul[role="list"],
    ol[role="list"] {
        list-style: none;
    }

    /* Set core body defaults */
    body {
        min-height: 100vh;
        line-height: 1.5;
    }

    /* Set shorter line heights on headings and interactive elements */
    h1,
    h2,
    h3,
    h4,
    button,
    input,
    label {
        line-height: 1.1;
    }

    /* Balance text wrapping on headings */
    h1,
    h2,
    h3,
    h4 {
        text-wrap: balance;
    }

    /* A elements that don't have a class get default styles */
    a:not([class]) {
        text-decoration-skip-ink: auto;
        color: currentColor;
    }

    /* Make images easier to work with */
    img,
    picture {
        max-width: 100%;
        display: block;
    }

    /* Inherit fonts for inputs and buttons */
    input,
    button,
    textarea,
    select {
        font-family: inherit;
        font-size: inherit;
    }

    /* Make sure textareas without a rows attribute are not tiny */
    textarea:not([rows]) {
        min-height: 10em;
    }

    /* Anything that has been anchored to should have extra scroll margin */
    :target {
        scroll-margin-block: 5ex;
    }
}

@layer base {
    /* albert var latin */
    @font-face {
        font-family: Albert;
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url("/fonts/albertvar.woff2") format("woff2");
    }

    html {
        font-family:
            Albert,
            ui-sans-serif,
            system-ui,
            -apple-system,
            BlinkMacSystemFont,
            Segoe UI,
            Roboto,
            Helvetica Neue,
            Arial,
            sans-serif,
            Apple Color Emoji,
            Segoe UI Emoji,
            Segoe UI Symbol;
    }

    body {
        background: var(--background);
        color: var(--foreground);
    }

    h1,
    h2,
    h3,
    h4 {
        font-weight: var(--fw-medium);
    }
}

@layer components {
    /* remove all scroll only in slides view */
    /* .container { */
    /*     height: 100vh; */
    /*     overflow-y: hidden; */
    /* } */

    .markdown-container {
        display: flex;
        justify-content: center;

        padding-inline: var(--space-3);

        .content {
            display: flex;
            flex-direction: column;

            max-width: 60ch;
            font-size: var(--fs-lg);
            line-height: var(--lh-fs-lg);

            p:not(:last-child) {
                padding-block-end: var(--space-2);
            }
        }

        /* TODO: design this gradient for your current color scheme, and probably un-nest it */
        .divider {
            background-image: linear-gradient(to right, var(--gray-4), var(--gray-2));
            height: 2px;
            margin-block: var(--space-6);
        }

        h1,
        h2,
        h3,
        h4 {
            align-self: flex-start;

            color: var(--gray-8);
            padding-block-end: var(--space-3);
            padding-block-start: var(--space-5);
        }

        /* override webkit user agent styles, which make h1 smaller inside articles and sections */
        h1 {
            font-size: 1.75em;
        }

        ol,
        ul {
            margin-block: var(--space-3);

            li:not(:first-child) {
                padding-block-start: var(--space-1);
            }

            li:not(:last-child) {
                padding-block-end: var(--space-3);
            }

            @media (width >= 40rem) {
                padding-inline-start: var(--space-8);
            }
        }

        ol {
            list-style-type: decimal;
            padding-inline-start: var(--space-6);

            li::marker {
                color: var(--gray-7);
            }
        }

        ul {
            list-style-type: disc;
            padding-inline-start: var(--space-5);

            li::marker {
                color: var(--gray-6);
            }
        }

        p + p {
            padding-block-start: var(--space-2);
        }
    }

    .header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        background-color: var(--background-header);
        color: var(--foreground-header);
        column-gap: var(--space-8);
        padding-block: var(--space-4);
        padding-inline: var(--space-4);

        @media (width >= 40rem) {
            padding-inline: var(--space-8);
        }
    }

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-block-start: calc(var(--space) * 12);
        margin-block-end: var(--space-6);
    }

    .hero-iol {
        margin-block-start: -1rem;
        width: 70%;
        transform: rotate(-25deg);

        @media (width >= 40rem) {
            max-width: 35rem;
        }
    }

    .hero-text {
        font-size: var(--fs-3xl);

        @media (width >= 40rem) {
            font-size: calc(var(--fs-3xl) * 2);
        }
    }

    .logo {
        display: flex;
        flex-direction: column;

        width: calc(var(--space) * 35);

        @media (width >= 40rem) {
            width: calc(var(--space) * 40);
        }
    }

    .neon-iol-image {
        /* hack: render this image only on Safari, to get around bugs when rendering the filter in .neon-pink-svg */
        @supports (not (font: -apple-system-body)) {
            display: none;
        }

        /* mostly copied from .hero-iol, could probably be unified if you moved the rotation to a new class */
        @supports (font: -apple-system-body) {
            z-index: -1;
            width: 70%;

            @media (width >= 40rem) {
                max-width: 35rem;
            }
        }
    }

    .neon-pink-text {
        color: #fff;
        text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #f100dc,
            0 0 82px #f100dc,
            0 0 92px #f100dc,
            0 0 102px #f100dc,
            0 0 151px #f100dc;
    }

    .neon-pink-svg {
        /* put the glow effect from the hero text on top */
        z-index: -1;
        margin-block-end: calc(var(--space) * -10);

        @media (width >= 40rem) {
            margin-block-end: calc(var(--space) * -30);
        }

        /* hack: webkit just cannot render this filter and still scale the SVG */
        @supports (not (font: -apple-system-body)) {
            filter: url(#neon-pink-filter);
        }

        @supports (font: -apple-system-body) {
            display: none;
        }
    }

    .plot-group {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: calc(var(--space) * 16);

        padding: var(--space-4);

        .plot-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var(--space-4);

            @media (width >= 60rem) {
                flex-direction: row;
                justify-content: center;
            }

            .plot {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: var(--space-4);

                /* .plot-title { } */

                .plot-traces {
                    width: 23rem;

                    /* TODO: the plotly plots have hardcoded size—ideally i'd like them larger on desktop */
                    /* https://github.com/plotly/plotly.rs/issues/240 */
                    /* consider just transform: scale(1.5); or similar, but it doesn't help with doc flow */
                    @media (width >= 40rem) {
                        width: 30rem;
                    }
                }
            }

            .plot-info {
                max-width: var(--container-md);
            }
        }
    }
}

@layer overrides {
}